node_modules/
.DS_Store

docs/dist/

/packages/legacy/coverage
/packages/legacy/output
/packages/legacy/public
/packages/legacy/assets
/packages/legacy/.merlin
/packages/legacy/private
/packages/legacy/lib
